:root {
    /* music album cover size and perspective */
    --album-size: 192px;
    --album-perspective: calc(var(--album-size) * 4);
}


.spotify-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    align-items: center;
    overflow-x: auto;

    list-style: none;
    margin: 0;
    padding: 0 calc(50% - var(--album-size) / 2);

    scroll-snap-type: x mandatory;

    height: 256px;
}

.album {
    flex: 0 0 var(--album-size);

    scroll-snap-align: center;

    perspective: var(--album-perspective);
}

.album>a {
    display: block;
    transform-style: preserve-3d;
}

.album img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
}

.cover-info {
    text-align: center;

    display: flex;
    flex-direction: column;
    row-gap: var(--padding-horizontal);
}

.cover-info div h3 {
    margin: 0;
}